<div class="panel panel-primary">
    <div class="panel-heading" align="center">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/happy-tea-friends-framed.jpg"
                 class="img-responsive center-block"
                 style="max-height:600px;padding-bottom:50px;padding-top:50px"/>
        </div>
        <div class="row text-center">
            <div>Join us for a jolly good tea time at</div>
            <div>2:30 pm, and on slack in the channel #x-tea!</div>
        </div>
    </div>
</div>