<div class='panel panel-primary'>
	 <div class='panel-heading'>
	 	{{pageTitle}}
	 </div>
	 <div class='panel-body'>
	 	<div class='row'>
	 		<div class='col-md-1'>Filter by:</div>
	 		<div class='col-md-4'>
	 			<input type='text'
	 				[(ngModel)]='listFilter'
	 			/>
 			</div>
 		</div>
 		<!-- <div class='row'>
 			<div class='col-md-6'>
 				<h3>Filtered by: {{listFilter}}</h3>
 			</div>
 		</div> -->
 		<table class='table'
 			*ngIf='teas && teas.length'>
 			<thead>
				<tr>
					<th>
						<button class='btn btn-primary'
							(click)='toggleImage()'>
							{{showImage ? 'Hide' : 'Show'}} Image
						</button>
					</th>
					<th>Name</th>
					<th>Type</th>
					<th>Rating</th>
					<th>Available</th>
					<th>Description</th>
				</tr>
 			</thead>
			<tbody>
				<tr *ngFor='let tea of teas | teaFilter: listFilter'>
					<td>
						<img *ngIf='showImage'
							 [src]='tea.imageUrl'
							 [title]='tea.teaName'
							 [style.width.px]='imageWidth'
							 [style.margin.px]='imageMargin'>
					</td>
					<td>{{ tea.teaName }}</td>
					<td>{{ tea.teaType }}</td>
					<td>
						<tea-star
							[rating]='tea.teaRating'
							(ratingClicked)='onRatingClicked($event)'>
						</tea-star>
					</td>
					<td *ngIf='tea.teaAvailability'>Yes</td>
					<td *ngIf='!tea.teaAvailability'>No</td>
					<td>{{ tea.teaDescription }}</td>
				</tr>
			</tbody>
		</table>
 	</div>
 	<div class='panel'>
	 	<table class='table'>
	 		<thead>
				<tr>
					<th>
						<button class='btn btn-primary'
					 		(click)='addNewTea()'>
					 		Add a New Tea
					 	</button>
					 </th>
					 <th>
					 	<input class="new-tea"
							[(ngModel)]="newTeaName"
							placeholder="Name...">
					 </th>
					 <th>
					 	<input class="new-tea"
							[(ngModel)]="newTeaType"
							placeholder="Type...">
					 </th>
					 <!-- <th>
					 	<input class="new-tea"
							[value]="newTeaRating"
							placeholder="Rating...">
					 </th>
					 <th>
					 	<input class="new-tea"
							[value]="newTeaAvailable"
							placeholder="Available?">
					 </th> -->
					 <th>
					 	<input class="new-tea"
							[(ngModel)]="newTeaDescription"
							placeholder="Description...">
					 </th>
				</tr>
			</thead>
		</table>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-4">
						<button class='btn btn-primary'
					 		(click)='pickRandomTea()'>
					 		Suggest a Tea
					 	</button>
					</th>
					<th class="col-md-4">
						{{textRandomTea}}
					</th>
				</tr>
			</thead>
		</table>
 	</div>
 </div>