thead {
	color: #4f3009;
	background-color: #ffebb2;
}

div {
	background-color: #ffebb2;
	border-color: #1d6b20 #1d6b20;
}

input {
	background-color: #fff8e4;
}

.panel-heading {
	background-color: #38993b;
}

.btn-primary {
	background-color: #ad7122;
	border-color: #fff8e4 #fff8e4;
}
.btn-primary:active {
	background-color: #7a4c11;
	border-color: #7a4c11 #7a4c11;
}

tbody > tr:hover {
	background-color: #fff1cc;
}